<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/empInsert}" method="post" th:object="${empVO}">
		<div>
			<label id="empId">사원번호</label> 
			<input type="text" id="empId" th:field="*{employeeId}"></input>
		</div>
		<div>
			<label id="name">이름</label> 
			<input type="text" id="name" th:field="*{lastName}"></input>
		</div>
		<div>
			<label id="email">이메일</label> 
			<input type="text" id="email" th:field="*{email}"></input>
		</div>
		<div>
			<label id="hireDate">입사일</label> 
			<input type="date" id="hireDate" th:field="*{hireDate}"></input>
		</div>
		<div>
			<label id="job">업무</label> 
			<input type="text" id="job" th:field="*{jobId}"></input>
		</div>
		<div>
			<button type="submit">등록</button>
			<button type="reset">취소</button>
		</div>
	</form>
</body>
</html>